body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map{
	width: 100%;
	height: 100%;
}

.title {
	position: absolute;
    z-index: 100;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    top: 100px;
    left: 100px;
}

.search-container {
    width: 300px;
    height: 45px;
    background-color: #253341;
    border-radius: 30px;
    display: flex;
}

.search-container input {
	width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    color: white;
}

.search-container .search {
	flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input:focus{
	outline: none;
}

.search i{
	font-size: 25px;
    color: white;
}

.stores-list-container {
	width: 400px;
    position: absolute;
    z-index: 100;
    background-color: white;
    left: 100px;
    top: 320px;
    border-radius: 30px;
    bottom: 20px;
    display: flex;
    overflow-y: hidden;
    padding-bottom: 30px;
}

.store-container {
	border-bottom: 1px solid #979797;
	display:flex;

} 

.store-container:hover{
	cursor:pointer;
}

.store-address {
	font-size: 21px;
	color: #514C4C;
	margin-top: 30px;
}

.store-phone-number{
	color: #B5ADAD;
	margin-top: 15px;
	margin-bottom: 15px;
}

.store-address span{
	display: block;
}

.store-number{
	width: 30px;
    height: 30px;
    background-color: #454e53;
    color: #B5ADAD;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.store-info-container{
	flex-grow: 1;
}

.store-number-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.stores-list{
	flex-grow: 1;
	overflow-y: scroll;
	padding-right: 20px;
	padding-left: 20px;
}

.fas .fa-location-arrow {
	font-size: 18px;
    color: #2a9a65;
    margin: 2px;
}

.store-info-window{
	min-width: 300px;
	font-size: 18px;
	padding: 8px;
}

.store-info-name{
	font-size: 24px;
	font-weight: bold;
	color: rgb(0,0,0,87);
}

.store-info-status{
	margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding: 2px;
}

.store-info-address, .store-info-phone{
	margin: 8px;
}

.store-info-address , .store-info-phone {
	display: flex;
    align-items: center;
}

.store-info-address .circle, .store-info-phone .circle{
	width: 30px;
    height: 30px;
    background: #1985A1;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.search i {
	cursor: pointer;
}

.store-container-background{
	display: flex;
	flex-grow: 1;
	padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    transition: all 0.2s ease-in-out;
}

.store-container-background:hover{
	background-color: #ccc;
    flex-grow: 1;
    /* margin: 8px; */
    border-radius: 18px;
    
}

.search-result-profile{
    background-color: #253341;
    border-radius: 20px;
    padding: 15px;
    margin: 9px;
    display: flex;
    align-items: center;
}